body {
    background-color: aquamarine;
    font-family: "Lucida Console", "Courier New", monospace;
    
}
.center {
    width: 50%;
    margin: auto;
}

.intro {
    background-color: lightblue;
    
}

.main {
    background-color: lightblue;
}

.lists {
    background-color: lightblue;
}
